<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Application Configuration</comment>
	<entry key="url">https://w1.marinsoftware.com</entry>
	<entry key="browser">Firefox</entry>
	<entry key="email">mmadhusoodan@marinsoftware.com</entry>
	<entry key="password">mmadhusoodan49</entry>
	<entry key="screenshotDir">C:/qa/workspace/WebDriverUI/screenshots/</entry>
 </properties>

 